.PageContainer {

    padding: 25px;
    display: flex;
    width:75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PageVidWrap {
    background: linear-gradient(0.4turn, #000000, #000000);
  
    object-fit: contain;
    overflow: hidden;
  }
  
.PageVid {
  
  transform: scale(1.5);
    display: block;
  
    object-fit: cover;
    transition: all 0.2s linear;
}

.pageGlobal
{
    overflow: hidden;
}