.PageContainer {
    z-index: 1;
    display: flex;
    width: 70%;
    flex-direction: column;

}

.lines{
    position: absolute;
    background-size:50px 50px;
    height : 100%;
    width : 50%;
    background-image: 
    linear-gradient(0deg, transparent 9%, 
            rgba(0, 217, 255, 0.1) 10%, rgba(0, 217, 255, .1) 0.1%, transparent 0.1%, transparent 0.2%),
    linear-gradient(90deg, transparent 9%, 
            rgba(0, 217, 255, .1) 10%, rgba(0, 217, 255, .1) 0.1%, transparent 0.1%, transparent 0.2%);
}


.glow {
   
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow:
    0 0 7px #00a6ff66,
    0 0 10px #00a6ff66,
    0 0 21px #00a6ff66,
    0 0 42px #00a6ff66,
    0 0 82px #00a6ff66;
    
  }

  .glowWhite {
  
    text-shadow:
    0 0 30px #ffffff75,
    0 0 10px #ffffffff;
   
  }
  
.PageVidWrap {
    
    background: linear-gradient(0.4turn, #000000, #000000);

    object-fit: contain;
    overflow: hidden;
}
.pagePosWidth {
    margin-left: 30%;
    margin-right: 30%;
}
.pagePos {
    position: absolute;
  
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: center;
    display: block;


}
.pagePosOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: block;


}

.pagePosWrap {

    position: relative;


}

.PageVid {
  
  
    display: block;

    object-fit: cover;
    transition: all 0.2s linear;
}

.pageGlobal {
    background-color: #000000;
    overflow: hidden;

}